<!DOCTYPE html>
<html class="no-js" lang="{{ locale | default: site.defaultLocale }}">
    <head>
        {% include 'partials/head' %}
        {% capture mainCSS %}
            {% include "../../.cache/main.css" %}
        {% endcapture %}
        <script>
            function jsCheck(el){el.className=el.className.replace(/\bno-js\b/,'js')} jsCheck(document.documentElement)
        </script>
        <style>
            {{ mainCSS | inlinecss }}
        </style>
        {% analytics %}
    </head>
    <body>
        {{ page.url }}
        {% include "partials/header" %}
        {{ content | safe }}
        {% include "partials/footer" %}
    </body>
</html>
