---
title: Homepage
layout: pages/index 
ogLarge: true
translationKey: 'homepage'
eleventyComputed:
    headline: '<div class="masthead__headline flow" style="--flow-space: var(--size-300);"><p>台灣每人生產<span data-color="peach">11噸二氧化碳</span>。</p><p data-1rem="">接近全球平均水平的3倍。<br>東亞第二名。</p></div>'
---