---
title: Homepage
layout: pages/index 
translationKey: 'homepage'
eleventyComputed:
    headline: '<div class="masthead__headline flow" style="--flow-space: var(--size-300);"><p>台灣每人每年平均生產<span data-color="peach">11噸二氧化碳</span>。</p><p data-1rem="">接近全球平均水平的3倍。<br>高居東亞國家第二位。</p></div>'
---