.action-grid {
  margin-bottom: var(--size-600);
  margin-top: var(--size-600);
  --auto-grid-gap: var(--size-major);
  --auto-grid-cols: 1;
}

@media (min-width: 36rem) {
  .action-grid {
    --auto-grid-cols: 3;
  }
  /*  column-gap: var(--size-300);
  }
  .action-grid *:nth-child(even) {
    grid-column: -1/3;
  }

  .action-grid *:nth-child(odd) {
    grid-column: 1/4;
  } */
}
