.data-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: var(--size-600);
  --auto-grid-cols: 1;
  --auto-grid-gap: var(--size-500);
  --auto-grid-min-size: 200px;
  --auto-max-grid-size: 320px;
  justify-items: center;
  /* margin: var(--size-700) 0 0 0; */
  min-width: 100%;
  width: 100%;
  scroll-snap-align: start;
  /* grid-template-rows: auto 1fr auto; */
}

.data-grid > .data-grid--intro {
  grid-row: 1;
  grid-column: -1/1;
}

.data-grid--intro p {
  margin-bottom: 0;
}

.data-grid > .callout-box:first-of-type {
  grid-column: 1;
}

.data-grid aside {
  grid-column: 1;
  margin-top: var(--size-400);
  /* font-size: var(--size-400); */
}

.data-grid .swiper--actions {
  grid-column: -1/1;
}

.swiper--actions .link--button {
  margin-block-end: var(--size-600);
  display: inline-block;
}

.data-grid .swiper--actions {
  grid-column: -1/1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper--actions[data-direction="reverse"] {
  display: flex;
  flex-direction: column-reverse;
}

.no-js .swiper--actions .swiper-link {
  display: none;
}

@media only screen and (min-width: 48em) {
  .data-grid {
    grid-template-columns: 320px 1fr;
    grid-column-gap: var(--size-600);
    justify-items: left;
  }

  .data-grid[data-columns="2"] {
    --auto-grid-cols: 2;
  }
  .data-grid[data-columns="3"] {
    --auto-grid-cols: 3;
  }

  .data-grid > .callout-box:first-of-type {
    grid-row: 2/3;
  }

  .data-grid aside {
    grid-column: 2/3;
    /* grid-row: 5/4; */
  }

  .data-grid .swiper--actions {
    grid-column: -1/1;
    width: 100%;
    flex-direction: row;
  }

  .swiper--actions .link--button {
    margin-block-end: 0;
  }

  .swiper--actions .link--button:first-of-type {
    margin-inline-end: var(--size-400);
  }

  .swiper--actions[data-direction="reverse"] {
    flex-direction: row;
  }
}

@media only screen and (min-width: 62em) {
  .data-grid .swiper--actions {
    justify-content: center;
  }
}
