footer {
  background-color: var(--color-charcoal);
  color: var(--color-campfire-smoke);
  min-height: 10vh;
  bottom: 0;
  line-height: 1.5;
  padding: var(--size-500) 0;
}

footer .wrapper .carbon {
  grid-row: 1;
}

footer .wrapper {
  padding: 2rem var(--size-500);
  display: grid;
  gap: 1.15rem;
}

footer .wrapper .social {
  text-align: center;
}

footer .social a:not(:first-of-type) {
  margin-left: var(--size-600);
}

footer .social svg {
  position: relative;
  height: var(--size-600);
  width: var(--size-600);
  overflow: visible;
  filter: drop-shadow(4px 4px 0 var(--color-ocean-green));
  transition: filter 0.15s ease-in-out;
}

footer .social svg path {
  fill: var(--color-campfire-smoke);
}

footer .social svg:hover {
  filter: drop-shadow(0 0 0 var(--color-ocean-green));
}

@media only screen and (min-width: 48em) {
  footer .wrapper {
    grid-template-areas:
      ". . . maintain carbon . ."
      ". . . data . . ."
      ". . . nav social . .";
  }

  footer .wrapper .maintainer,
  footer .wrapper .data-source,
  footer .wrapper .nav__list {
    grid-column: 4;
  }

  footer .wrapper .carbon,
  footer .wrapper .social {
    grid-column: 5;
  }

  footer .wrapper .maintainer,
  footer .wrapper .carbon {
    grid-row: 1;
  }

  footer .wrapper .data-source {
    grid-row: 2;
  }

  footer .wrapper .nav__list,
  footer .wrapper .social {
    grid-row: 3;
  }

  footer .nav__list > *:first-of-type {
    padding-left: 0;
  }
}

.footer a:not(.icon-link),
.footer a:not(.icon-link):visited {
  box-shadow: 0 3px 0px 0px currentColor;
}
