main.wrapper {
  display: grid;
  grid-template-columns: 1fr auto minmax(72rem, 1fr) auto 1fr;
  position: relative;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

main.wrapper > * {
  grid-column: 3/4;
  overflow-y: hidden;
}
