section[data-width="full"] {
  grid-column: -1/1;
  margin-left: calc(var(--size-500) * -1);
  margin-right: calc(var(--size-500) * -1);
}

section[data-color="ocean-green"] {
  background: var(--color-ocean-green);
}
