<!DOCTYPE html>
<html class="no-js" lang="{{ locale | default: site.defaultLocale }}">
    <head>
        {% include 'partials/head' %}
        {% capture mainCSS %}
            {% include "../../.cache/main.css" %}
        {% endcapture %}
        <script>
            function jsCheck(el){el.className=el.className.replace(/\bno-js\b/,'js')} jsCheck(document.documentElement)
        </script>
        <style>
            {{ mainCSS | inlinecss }}
        </style>
    </head>
    <body>
        <a class="skip-link" href="#main">Skip to main content</a>
        {% include "partials/nav" %}
        {{ content | safe }}
    </body>
</html>
