<!DOCTYPE html>
<html lang="{{ locale | default: site.defaultLocale }}">
    <head>
        {% include 'partials/head' %}
    </head>
    <body>
        <a class="skip-link" href="#main">Skip to main content</a>
        {{ content | safe }}
    </body>
</html>
