#wcb.carbonbadge {
  font-size: var(--size-400);
  text-align: center;
  color: var(--color-rich-black);
  line-height: 1.15;
}

#wcb.carbonbadge sub {
  vertical-align: middle;
  position: relative;
  top: 0.3em;
  font-size: var(--size-400);
}

#wcb #wcb_g,
#wcb #wcb_a,
#wcb #wcb_2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-size: 1rem; */
  line-height: 1.15;
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
  text-decoration: none;
  margin: 0.2em 0;
}

#wcb #wcb_g,
#wcb #wcb_a {
  padding: 0.3em 0.5em;
  border: 0.13em solid var(--color-ocean-green);
}

#wcb #wcb_g {
  border-radius: 0.3em 0 0 0.3em;
  background: var(--color-campfire-smoke);
  border-right: 0;
  min-width: 8.2em;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
}

#wcb #wcb_a {
  border-radius: 0 0.3em 0.3em 0;
  border-left: 0;
  background: var(--color-rich-black);
  color: var(--color-campfire-smoke);
  font-weight: 700;
  border-color: var(--color-ocean-blue);
  box-shadow: none;
  left: -0.43em;
  position: relative;
}

.wcb-d #wcb_a {
  color: var(--color-rich-black);
  background: var(--color-ocean-green);
  border-color: var(--color-ocean-green);
  box-shadow: none;
}

.wcb-d #wcb_2 {
  color: var(--color-campfire-smoke);
}
