---
layout: layouts/base
---

<main class="wrapper flow" data-wraps="content" id="main-content">
    <section id="intro">
        <h1>{{ page.404.intro.heading | defaultLocale: locale | capitalize }}</h1>
        <p>{{ page.404.intro.paragraph | defaultLocale: locale | safe }}</p>
    </section>


    <div class="divider full-width" data-last="true" data-type>
        {% include "svg/seaside.svg" %}
    </div>
</main>