---
layout: base
---

<main class="wrapper" data-wraps="content" id="main-content">
    {% include 'partials/action-image' %}
    <section>
        <article>
            {{ content | safe }}
        </article>        
        <span data-share-btn></span>
    </section>
</main>

<!-- Add share button -->
<script src="/assets/share.bundle.js" type="module"></script>