---
layout: base
---

<main class="wrapper flow" data-wraps="content" id="main-content">
    <section id="intro">
        <h1>{{ pages.faq.intro.heading | defaultLocale: locale | capitalize }}</h1>
        <p>{{ pages.faq.intro.paragraph | defaultLocale: locale | safe }}</p>
    </section>

    <section id="questions flow">
            {% for question in pages.faq.questions %}
                        <div>
                            <h2 class="question">{{ question.question | defaultLocale: locale | safe }}</h2>
                            <div class="answer">{{ question.answer | defaultLocale: locale | safe }}</div>
                        </div>
            {% endfor %}
    </section>
</main>