---
title: Homepage
layout: pages/index 
ogLarge: true
eleventyComputed:
    headline: 'Taiwan emitted over <span data-color="peach">255 million tonnes</span> of CO2 in 2019.'
    translationKey: 'homepage'
---