---
title: Homepage
layout: pages/index 
ogLarge: true
translationKey: 'homepage'
eleventyComputed:
    headline: 'Taiwan emitted over <span data-color="peach">264 million tonnes</span> of CO2 in 2019.'
---