---
title: Homepage
layout: pages/index 
ogLarge: true
translationKey: 'homepage'
eleventyComputed:
    headline: '<div class="masthead__headline flow" style="--flow-space: var(--size-300);"><p>Taiwan produces <span data-color="peach">11t of CO<sup>2</sup></span> per person.</p><p data-1rem="">Nearly 3x the global average. 2nd highest in East Asia.</p></div>'
---