---
title: Homepage
layout: pages/index 
translationKey: 'homepage'
eleventyComputed:
    headline: '<div class="masthead__headline flow" style="--flow-space: var(--size-300);"><p>Taiwan produces <span data-color="peach">11 tonnes of CO<sub>2</sub></span> per person.</p><p data-1rem="">Nearly 3x the global average. <br>2nd highest in East Asia.</p></div>'
---