.cta-button-holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--size-600) 0;
}

.cta-button-holder[data-align="left"] {
  justify-content: flex-start;
}

.swiper--actions.cta-button-holder :not(:first-child) {
  margin-inline-start: var(--size-500);
}
