:root {
  --link-external: url('data:image/svg+xml;utf8, <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.6396 7.02527H12.0181V5.02527H19.0181V12.0253H17.0181V8.47528L12.1042 13.3892L10.6899 11.975L15.6396 7.02527Z" fill="currentColor" /><path d="M10.9819 6.97473H4.98193V18.9747H16.9819V12.9747H14.9819V16.9747H6.98193V8.97473H10.9819V6.97473Z" fill="currentColor" /></svg>');
}

a:not([class]) {
  color: currentColor;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.2s cubic-bezier(0.21, 0.5, 0.73, 0.84);
  transition-delay: 0.05s;
  box-shadow: 0 3px 0px 0px currentColor;
}

a:not([class]):hover,
a:not([class]):focus {
  box-shadow: 0 3px 0px 0px var(--color-ocean-green);
  color: var(--color-ocean-green);
}

[data-external]:after {
  content: "";
  background: currentColor;
  margin-inline: 0.2rem var(--size-300);
  display: inline-block;
  transform: scale(0.75);
  transition: all 0.2s cubic-bezier(0.21, 0.5, 0.73, 0.84);
  user-select: none;
  font-weight: 900;
  height: 1rem;
  width: 1rem;
  -webkit-mask: var(--link-external) no-repeat 50% 50%;
  mask: var(--link-external) no-repeat 50% 50%;
}

[data-external]:hover:after {
  color: var(--color-ocean-green);
  transform: translate3d(0, -10%, 0) scale(0.75);
}

.icon-link,
.icon-link:visited,
.icon-link:hover,
.icon-link:focus {
  box-shadow: none;
}

.link--button {
  border: 2px solid var(--color-ocean-blue);
  position: relative;
  background: var(--background-color);
  /* transition: all 0.4s ease-in-out; */
  animation: card 0.4s forwards;
  padding: var(--size-300) var(--size-500);
  color: var(--color-ocean-blue);
  text-decoration: none;
  font-weight: 900;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.link--button::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 2px solid var(--color-ocean-blue);
  /* border-radius: 0 6% 6% 0; */
  /*     background-color: var(--color-ocean-blue); */
  background-image: radial-gradient(
      var(--color-ocean-blue) 20%,
      transparent 20%
    ),
    radial-gradient(var(--color-ocean-blue) 20%, transparent 20%);
  display: block;
  z-index: -1;
  background-position: 0 0, 3.5px 3.5px;
  background-size: 7px 7px;
  background-color: var(--background-color);
  /* transition: all 0.4s ease-in-out; */
  animation: card 0.4s forwards;
}

.link--button:hover,
.link--button:focus {
  color: var(--color-ocean-green);
  border: 2px solid var(--color-ocean-green);
  /* border-radius: 0 18px 18px; */
  animation: cardHover 0.4s forwards;
}

.link--button:hover::after,
.link--button:focus::after {
  /* border-radius: 0 18px 18px; */
  border: 2px solid var(--color-ocean-green);
  animation: cardHover 0.4s forwards;
  background-color: var(--color-ocean-green);
  background-image: radial-gradient(
      var(--color-ocean-green) 20%,
      transparent 20%
    ),
    radial-gradient(var(--color-ocean-green) 20%, transparent 20%);
}

.link--button[data-style="round"] {
  animation: buttonRound 0.4s forwards;
}
.link--button[data-style="round"]::after {
  animation: buttonRound 0.4s forwards;
}

.link--button[data-style="round"]:hover {
  animation: buttonRoundHover 0.4s forwards;
}
.link--button[data-style="round"]:hover::after {
  animation: buttonRoundHover 0.4s forwards;
}

.link--button svg {
  margin-inline-end: var(--size-400);
  overflow: visible;
  max-height: var(--size-500);
}

@keyframes buttonRoundHover {
  from {
    border-radius: 50% 50% 50% 0;
  }
  to {
    border-radius: 0 50% 50% 50%;
  }
}

@keyframes buttonRound {
  from {
    border-radius: 0 50% 50% 50%;
  }
  to {
    border-radius: 50% 50% 50% 0;
  }
}
