[data-sticky] {
  position: sticky;
}

[data-sticky][data-direction="row"] {
  left: 0;
}

th.decade {
  text-align: left;
}

/* th.year {
  text-align: left;
} */

th.energy {
  text-align: right;
  min-width: 12ch;
}
