.wrapper {
  display: grid;
  grid-template-columns: 1fr auto minmax(auto, 72rem) auto 1fr;
  position: relative;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  padding: 0 var(--size-300);
}

.wrapper > * {
  grid-column: 3/4;
  overflow-y: hidden;
}

.wrapper[data-wraps="content"] {
  padding: var(--size-700) var(--size-300) var(--size-600) var(--size-300);

  @media (min-width: 48rem) {
    padding: var(--size-900) var(--size-500) var(--size-800) var(--size-500);
  }
}
