.wrapper {
  display: grid;
  grid-template-columns: 1fr auto minmax(auto, 72rem) auto 1fr;
  position: relative;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  padding: 0 var(--size-300);
}

.wrapper > * {
  grid-column: 3/4;
  overflow-y: hidden;
}
