.wrapper {
  display: grid;
  grid-template-columns: var(--size-300) 1fr auto minmax(auto, 72rem) auto 1fr var(
      --size-300
    );
  position: relative;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  /* padding: 0 var(--size-300); */
}

@media (min-width: 48rem) {
  .wrapper {
    grid-template-columns: var(--size-500) 1fr auto minmax(auto, 72rem) auto 1fr var(
        --size-500
      );
  }
}

.wrapper > * {
  grid-column: 4/5;
  overflow-y: hidden;
}

.wrapper[data-wraps="content"] {
  --flow-space: var(--size-800);
  padding-top: var(--size-700);

  @media (min-width: 48rem) {
    padding-top: var(--size-900);
  }
}
