<div aria-label="Oblique night image of Taiwan taken from the International Space Station." class="masthead" role="img">
    <div class="wrapper">
        <picture style="display: none;">
            <source type="image/avif" srcset="/img/tw-iss-min.avif">
            <source type="image/webp" srcset="/img/tw-iss-min.webp">
            <source type="image/jpeg" srcset="/img/tw-iss-min.jpeg">
        </picture>
        <p class="masthead__headline">
            {{ mastheadHeadline | safe }}
        </p>
        <small class="masthead__credit">{{ partial.masthead.credit | defaultLocale: locale | safe }}</small>
    </div>
</div>