<div aria-label="Oblique night image of Taiwan taken from the International Space Station." class="masthead" role="img">
    <div class="wrapper">
        <picture style="display: none;">
            <source type="image/avif" srcset="/img/tw-iss-min.avif" media="(min-width: 37rem)">
            <source type="image/webp" srcset="/img/tw-iss-min.webp" media="(min-width: 37rem)">
            <source type="image/jpeg" srcset="/img/tw-iss-min.jpeg" media="(min-width: 37rem)">
            <source type="image/avif" srcset="/img/tw-iss-mob-min.avif" media="(max-width: 36rem)">
            <source type="image/webp" srcset="/img/tw-iss-mob-min.webp" media="(max-width: 36rem)">
            <source type="image/jpeg" srcset="/img/tw-iss-mob-min.jpeg" media="(max-width: 36rem)">
            <img src="/img/tw-iss-min.jpeg" alt="" loading="eager" decoding="sync">
        </picture>
            {{ mastheadHeadline | safe }}
        <small class="masthead__credit">{{ partial.masthead.credit | defaultLocale: locale | safe }}</small>
    </div>
</div>