<div aria-label="Oblique night image of Taiwan taken from the International Space Station." class="masthead" role="img">
    <div class="wrapper">
        <p class="masthead__headline">
            {{ mastheadHeadline | safe }}
        </p>
        <small class="masthead__credit">{{ partial.masthead.credit | defaultLocale: locale | safe }}</small>
    </div>
</div>