<form
  action="https://buttondown.email/api/emails/embed-subscribe/cleanenergyprojecttw"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/cleanenergyprojecttw', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">{{ partial.footer.subscribe.email | defaultLocale: locale }}</label>
  <div class="subscription--input z-reset">
      <input type="email" name="email" id="bd-email" placeholder="you@email.com" />
      <input type="hidden" value="1" name="embed" />
      <button class="link--button" type="submit">{{ partial.footer.subscribe.button | defaultLocale: locale }}</button>
  </div>
</form>
<p data-1rem data-wide>
  {{ partial.footer.subscribe.buttondown | defaultLocale: locale | safe }}
</p>